/*---- TYPOGRAPHY  ---*/
.h-font-number {
  font-family: 'PT Mono';
}

/*---- TYPOGRAPHY SIZES ---*/

.h-font-small-regular {
  font-size: var(--typography-body-small-regular-font-size);
  font-weight: var(--typography-body-small-regular-font-weight);
  line-height: var(--typography-body-small-regular-line-height);
}
.h-font-small-semi {
  font-size: var(--typography-body-small-semibold-font-size);
  font-weight: var(--typography-body-small-semibold-font-weight);
  line-height: var(--typography-body-small-semibold-line-height);
}
.h-font-medium-regular {
  font-size: var(--typography-body-medium-regular-font-size);
  font-weight: var(--typography-body-medium-regular-font-weight);
  line-height: var(--typography-body-medium-regular-line-height);
}
.h-font-medium-semi {
  font-size: var(--typography-body-medium-semibold-font-size);
  font-weight: var(--typography-body-medium-semibold-font-weight);
  line-height: var(--typography-body-medium-semibold-line-height);
}
.h-font-default-regular {
  font-size: var(--typography-body-default-regular-font-size);
  font-weight: var(--typography-body-default-regular-font-weight);
  line-height: var(--typography-body-default-regular-line-height);
}
.h-font-default-semi {
  font-size: var(--typography-body-default-semibold-font-size);
  font-weight: var(--typography-body-default-semibold-font-weight);
  line-height: var(--typography-body-default-semibold-line-height);
}
.h-font-large-regular {
  font-size: var(--typography-body-large-regular-font-size);
  font-weight: var(--typography-body-large-regular-font-weight);
  line-height: var(--typography-body-large-regular-line-height);
}
.h-font-large-semi {
  font-size: var(--typography-body-large-semibold-font-size);
  font-weight: var(--typography-body-large-semibold-font-weight);
  line-height: var(--typography-body-large-semibold-line-height);
}
.h-title-small-regular {
  font-size: var(--typography-header-small-regular-font-size);
  font-weight: var(--typography-header-small-regular-font-weight);
  line-height: var(--typography-header-small-regular-line-height);
}
.h-title-small-semi {
  font-size: var(--typography-header-small-semibold-font-size);
  font-weight: var(--typography-header-small-semibold-font-weight);
  line-height: var(--typography-header-small-semibold-line-height);
}
.h-title-medium-regular {
  font-size: var(--typography-header-medium-regular-font-size);
  font-weight: var(--typography-header-medium-regular-font-weight);
  line-height: var(--typography-header-medium-regular-line-height);
}
.h-title-medium-semi {
  font-size: var(--typography-header-medium-semibold-font-size);
  font-weight: var(--typography-header-medium-semibold-font-weight);
  line-height: var(--typography-header-medium-semibold-line-height);
}
.h-title-default-regular {
  font-size: var(--typography-header-default-regular-font-size);
  font-weight: var(--typography-header-default-regular-font-weight);
  line-height: var(--typography-header-default-regular-line-height);
}
.h-title-default-semi {
  font-size: var(--typography-header-default-semibold-font-size);
  font-weight: var(--typography-header-default-semibold-font-weight);
  line-height: var(--typography-header-default-semibold-line-height);
}
.h-title-large-regular {
  font-size: var(--typography-header-large-regular-font-size);
  font-weight: var(--typography-header-large-regular-font-weight);
  line-height: var(--typography-header-large-regular-line-height);
}
.h-title-large-semi {
  font-size: var(--typography-header-large-semibold-font-size);
  font-weight: var(--typography-header-large-semibold-font-weight);
  line-height: var(--typography-header-large-semibold-line-height);
}


/*---- TYPOGRAPHY COLORS ---*/

.h-color-text-primary {
  color: var(--color-text-primary);
}
  .hover\:h-color-text-primary:hover {
    color: var(--color-text-primary);
    transition: var(--transition-default);
  }

.h-color-text-secondary{
  color: var(--color-text-secondary);
}
  .hover\:h-color-text-secondary:hover {
    color: var(--color-text-secondary);
    transition: var(--transition-default);
  }

.h-color-text-tertiary {
  color: var(--color-text-tertiary);
}
  .hover\:h-color-text-tertiary:hover {
    color: var(--color-text-tertiary);
    transition: var(--transition-default);
  }

.h-color-text-white{
  color: var(--color-text-white);
}
  .hover\:h-color-text-white:hover {
    color: var(--color-text-white);
    transition: var(--transition-default);
  }

.h-color-text-green-tag{
  color: #93C90E; /* move to token */
}
  .hover\:h-color-green-tag:hover {
    color: #93C90E; /* move to token */
    transition: var(--transition-default);
  }

.h-color-text-pink-tag{
  color: #CF66FA;
}
  .hover\:h-color-pink-tag:hover {
    color: #CF66FA; /* move to token */
    transition: var(--transition-default);
  }

.h-color-text-green {
  color: #46A324; /* move to token */
}


/*---- TYPOGRAPHY ALIGNMENT ---*/

.h-txt-right {
  text-align: right;
}
.h-txt-left {
  text-align: left;
}
.h-txt-center {
  text-align: center;
}


/*---- TYPOGRAPHY TRANSFORMATION ---*/

.h-upper {
  text-transform: uppercase;
}
.h-lower {
  text-transform: lowercase;
}

.h-nowrap {
  white-space: nowrap
}


/*---- FLEX ---*/

.full-space-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 10;
}
.full-space-center > * {
  flex-shrink: 0;
}
.allow-shrink {
  flex-shrink: 1;
}
.no-shrink {
  flex-shrink: 0;
}
.flex {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-top {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-bottom {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.flex-between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.flex-1 {
  flex: 1;
}


/*---- DISPLAY ---*/

.h-block {
  display: block;
}
.h-table {
  display: table;
}
.h-none {
  display: none;
}
.h-hidden {
 display: none;
} /* to consolidate with h-none*/


/*---- POSITION ---*/

.h-pr {
  position: relative;
}
.h-pa {
  position: absolute;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}


/*---- WIDTHS ---*/

.h-max-short {
   max-width: calc(var(--xs) * 80); /* 640px */
   width: 100%;
}
.h-max-shorter {
   max-width: calc(var(--xs) * 68); /* 544px */
   width: 100%;
}
.h-sidebar {
   max-width: calc(var(--xs) * 40); /* 320px */
   width: 100%;
}

.h-overflow {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.h-full-width {
  width: 100%;
}


/* OVERFLOW */

.h-scroll {
  overflow: scroll;
}
.h-overflow-hidden {
  overflow: hidden;
}


/*---- HEIGHTS ---*/

.h-full-height {
  height: 100%;
}



/*---- VERTICAL-ALIGMENT ---*/
.v-align-top {
  vertical-align: top;
}
.v-align-middle {
  vertical-align: middle;
}
.v-align-bottom {
  vertical-align: bottom;
}



/*---- BACKGROUND COLORS ---*/

.h-white-background {
  background: var(--color-global-white);
}
  .hover\:h-white-background:hover {
    background: var(--color-global-white);
    transition: var(--transition-default);
  }

  .h-white-background--0 {
    background: rgba(255,255,255,0);
  }
    .hover\:h-white-background--1:hover {
      background: rgba(255,255,255,1);
      transition: var(--transition-default);
    }

.h-grey-background-dark {
  background: var(--color-text-primary); /* move to background token instead of text */
}
  .hover\:h-grey-background-dark:hover {
    background: var(--color-text-primary);
    transition: var(--transition-default);
  }
.h-grey-background-medium {
  background: var(--color-background-medium);
}
  .hover\:h-grey-background-medium:hover {
    background: var(--color-background-medium);
    transition: var(--transition-default);
  }
.h-grey-background-light {
  background: var(--color-background-light);
}
  .hover\:h-grey-background-light:hover {
    background: var(--color-background-light);
    transition: var(--transition-default);
  }
.h-green-background {
  background: #28A865; /* move to token notification */
}
  .hover\:h-green-background:hover {
    background: #28A865;
    transition: var(--transition-default);
  }
.h-green-background-tag {
  background: #EEF6D8; /* create token */
}
  .hover\:h-green-background-tag:hover {
    background: #EEF6D8;
    transition: var(--transition-default);
  }
.h-pink-background-tag {
  background: #F3E2FA; /* create token */
}
  .hover\:h-pink-background-tag:hover {
    background: #F3E2FA;
    transition: var(--transition-default);
  }
.h-modal-background {
  background: rgba(var(--color-background-modal), 0.4);
}
.h-global-primary-08 {
  background: var(--color-global-primary-08);
}
  .hover\:h-global-primary-08:hover {
    background: var(--color-global-primary-08);
    transition: var(--transition-default);
  }
  
.h-global-primary-04 {
  background: var(--color-global-primary-04);
}
  .hover\:h-global-primary-04:hover {
    background: var(--color-global-primary-04);
    transition: var(--transition-default);
  }

/*---- BORDERS ---*/

.h-border {
  border-width:  1px;
}
.h-borderV {
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.h-borderH {
  border-left-width: 1px;
  border-right-width: 1px;
}
.h-border-top {
  border-top-width: 1px;
}
.h-border-right {
  border-right-width: 1px;
}
.h-border-left {
  border-left-width: 1px;
}
.h-border-bottom {
  border-bottom-width: 1px;
}
.h-border-hard {
  border-color: var(--color-border-hard);
  border-style: solid;
}
.h-border-medium {
  border-color: var(--color-border-medium);
  border-style: solid;
}
.h-border-light {
  border-color: var(--color-border-light);
  border-style: solid;
}
.h-border-transparent {
  border-color: transparent;
  border-style: solid;
}

  .active\:h-global-primary:active {
    border: 1px solid var(--color-global-primary);
    transition: var(--transition-default);
  }



/*---- DROPDOWNS SIZES ---*/

.dropdown-extra-small {
  width: 280px;
}
.dropdown-small {
  width: 340px;
}
.dropdown-medium {
  width: 400px;
}
.dropdown-large {
  width: 480px;
}
.dropdown-extra-large {
  width: 520px;
}


/*---- MODAL SIZES ---*/

.modal-small {
  width: 600px;
}
.modal-medium {
  width: 720px;
}
.modal-large {
  width: 880px;
}


/*---- SHADOWS ---*/

.h-box-shadow-soft {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
}
.h-box-shadow-medium {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
}
.h-box-shadow-hard {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
}


/*---- OPACITY ---*/

.h-opacity-0 {
  opacity: 0;
}
.h-opacity-1 {
  opacity: 1;
}


/*---- GENERIC ---*/

.h-radius {
  border-radius: var(--radius);
}
.h-radius-small {
  border-radius: calc(var(--radius) / 2);
}

.h-clickable {
 cursor: pointer;
}
.h-dragabble {
  cursor:  grab;
}
  .active\:h-grabbing:active {
    cursor: grabbing
  }

.h-cursor-default {
 cursor: default;
}
.h-link {
  color:  var(--color-global-primary);
}
  .h-link:hover {
    text-decoration: underline;
  }


/*---- ANIMATION ---*/

.h-animation {
  transition: var(--transition-default);
}


@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{    
    transform: scale(.85);
  }
  100%{
    transform: scale(1);    
  }
}
