:root {
  --color-global-primary: #0d7ff4;
  --color-global-secondary: #1e0a3c;
  --color-global-secondary-60: rgba(30, 10, 60, 0.6);
  --color-global-white: #ffffff;
  --color-global-primary-60: rgba(13, 127, 244, 0.6);
  --color-global-primary-40: rgba(13, 127, 244, 0.4);
  --color-global-primary-16: rgba(13, 127, 244, 0.16);
  --color-global-primary-08: rgba(13, 127, 244, 0.08);
  --color-global-destructive: #ff0000;
  --color-text-primary: #12263a;
  --color-text-secondary: rgba(18, 38, 58, 0.6);
  --color-text-tertiary: rgba(18, 38, 58, 0.4);
  --color-text-white: #ffffff;
  --color-text-desctructive: #ff0000;
  --color-border-hard: rgba(18, 38, 58, 0.16);
  --color-border-medium: rgba(18, 38, 58, 0.08);
  --color-border-light: rgba(18, 38, 58, 0.04);
  --color-border-destructive: #ff0000;
  --color-background-medium: #f5f5f5;
  --color-background-light: #fafafa;
  --typography-body-small-regular-font-size: 10px;
  --typography-body-small-regular-text-decoration: none;
  --typography-body-small-regular-font-family: Inter;
  --typography-body-small-regular-font-weight: 400;
  --typography-body-small-regular-font-style: normal;
  --typography-body-small-regular-font-stretch: normal;
  --typography-body-small-regular-letter-spacing: 0;
  --typography-body-small-regular-line-height: 12px;
  --typography-body-small-regular-paragraph-indent: 0;
  --typography-body-small-regular-paragraph-spacing: 0;
  --typography-body-small-regular-text-case: none;
  --typography-body-small-semibold-font-size: 10px;
  --typography-body-small-semibold-text-decoration: none;
  --typography-body-small-semibold-font-family: Inter;
  --typography-body-small-semibold-font-weight: 600;
  --typography-body-small-semibold-font-style: normal;
  --typography-body-small-semibold-font-stretch: normal;
  --typography-body-small-semibold-letter-spacing: 0;
  --typography-body-small-semibold-line-height: 12px;
  --typography-body-small-semibold-paragraph-indent: 0;
  --typography-body-small-semibold-paragraph-spacing: 0;
  --typography-body-small-semibold-text-case: none;
  --typography-body-medium-regular-font-size: 12px;
  --typography-body-medium-regular-text-decoration: none;
  --typography-body-medium-regular-font-family: Inter;
  --typography-body-medium-regular-font-weight: 400;
  --typography-body-medium-regular-font-style: normal;
  --typography-body-medium-regular-font-stretch: normal;
  --typography-body-medium-regular-letter-spacing: 0;
  --typography-body-medium-regular-line-height: 14px;
  --typography-body-medium-regular-paragraph-indent: 0;
  --typography-body-medium-regular-paragraph-spacing: 0;
  --typography-body-medium-regular-text-case: none;
  --typography-body-medium-semibold-font-size: 12px;
  --typography-body-medium-semibold-text-decoration: none;
  --typography-body-medium-semibold-font-family: Inter;
  --typography-body-medium-semibold-font-weight: 600;
  --typography-body-medium-semibold-font-style: normal;
  --typography-body-medium-semibold-font-stretch: normal;
  --typography-body-medium-semibold-letter-spacing: 0;
  --typography-body-medium-semibold-line-height: 14px;
  --typography-body-medium-semibold-paragraph-indent: 0;
  --typography-body-medium-semibold-paragraph-spacing: 0;
  --typography-body-medium-semibold-text-case: none;
  --typography-body-large-regular-font-size: 16px;
  --typography-body-large-regular-text-decoration: none;
  --typography-body-large-regular-font-family: Inter;
  --typography-body-large-regular-font-weight: 400;
  --typography-body-large-regular-font-style: normal;
  --typography-body-large-regular-font-stretch: normal;
  --typography-body-large-regular-letter-spacing: 0;
  --typography-body-large-regular-line-height: 24px;
  --typography-body-large-regular-paragraph-indent: 0;
  --typography-body-large-regular-paragraph-spacing: 0;
  --typography-body-large-regular-text-case: none;
  --typography-body-large-semibold-font-size: 16px;
  --typography-body-large-semibold-text-decoration: none;
  --typography-body-large-semibold-font-family: Inter;
  --typography-body-large-semibold-font-weight: 600;
  --typography-body-large-semibold-font-style: normal;
  --typography-body-large-semibold-font-stretch: normal;
  --typography-body-large-semibold-letter-spacing: 0;
  --typography-body-large-semibold-line-height: 24px;
  --typography-body-large-semibold-paragraph-indent: 0;
  --typography-body-large-semibold-paragraph-spacing: 0;
  --typography-body-large-semibold-text-case: none;
  --typography-body-default-regular-font-size: 14px;
  --typography-body-default-regular-text-decoration: none;
  --typography-body-default-regular-font-family: Inter;
  --typography-body-default-regular-font-weight: 400;
  --typography-body-default-regular-font-style: normal;
  --typography-body-default-regular-font-stretch: normal;
  --typography-body-default-regular-letter-spacing: 0;
  --typography-body-default-regular-line-height: 20px;
  --typography-body-default-regular-paragraph-indent: 0;
  --typography-body-default-regular-paragraph-spacing: 0;
  --typography-body-default-regular-text-case: none;
  --typography-body-default-semibold-font-size: 14px;
  --typography-body-default-semibold-text-decoration: none;
  --typography-body-default-semibold-font-family: Inter;
  --typography-body-default-semibold-font-weight: 600;
  --typography-body-default-semibold-font-style: normal;
  --typography-body-default-semibold-font-stretch: normal;
  --typography-body-default-semibold-letter-spacing: 0;
  --typography-body-default-semibold-line-height: 20px;
  --typography-body-default-semibold-paragraph-indent: 0;
  --typography-body-default-semibold-paragraph-spacing: 0;
  --typography-body-default-semibold-text-case: none;
  --typography-header-small-regular-font-size: 20px;
  --typography-header-small-regular-text-decoration: none;
  --typography-header-small-regular-font-family: Inter;
  --typography-header-small-regular-font-weight: 400;
  --typography-header-small-regular-font-style: normal;
  --typography-header-small-regular-font-stretch: normal;
  --typography-header-small-regular-letter-spacing: 0;
  --typography-header-small-regular-line-height: 24px;
  --typography-header-small-regular-paragraph-indent: 0;
  --typography-header-small-regular-paragraph-spacing: 0;
  --typography-header-small-regular-text-case: none;
  --typography-header-small-semibold-font-size: 20px;
  --typography-header-small-semibold-text-decoration: none;
  --typography-header-small-semibold-font-family: Inter;
  --typography-header-small-semibold-font-weight: 600;
  --typography-header-small-semibold-font-style: normal;
  --typography-header-small-semibold-font-stretch: normal;
  --typography-header-small-semibold-letter-spacing: 0;
  --typography-header-small-semibold-line-height: 24px;
  --typography-header-small-semibold-paragraph-indent: 0;
  --typography-header-small-semibold-paragraph-spacing: 0;
  --typography-header-small-semibold-text-case: none;
  --typography-header-medium-regular-font-size: 24px;
  --typography-header-medium-regular-text-decoration: none;
  --typography-header-medium-regular-font-family: Inter;
  --typography-header-medium-regular-font-weight: 400;
  --typography-header-medium-regular-font-style: normal;
  --typography-header-medium-regular-font-stretch: normal;
  --typography-header-medium-regular-letter-spacing: 0;
  --typography-header-medium-regular-line-height: 32px;
  --typography-header-medium-regular-paragraph-indent: 0;
  --typography-header-medium-regular-paragraph-spacing: 0;
  --typography-header-medium-regular-text-case: none;
  --typography-header-medium-semibold-font-size: 24px;
  --typography-header-medium-semibold-text-decoration: none;
  --typography-header-medium-semibold-font-family: Inter;
  --typography-header-medium-semibold-font-weight: 600;
  --typography-header-medium-semibold-font-style: normal;
  --typography-header-medium-semibold-font-stretch: normal;
  --typography-header-medium-semibold-letter-spacing: 0;
  --typography-header-medium-semibold-line-height: 32px;
  --typography-header-medium-semibold-paragraph-indent: 0;
  --typography-header-medium-semibold-paragraph-spacing: 0;
  --typography-header-medium-semibold-text-case: none;
  --typography-header-default-regular-font-size: 28px;
  --typography-header-default-regular-text-decoration: none;
  --typography-header-default-regular-font-family: Inter;
  --typography-header-default-regular-font-weight: 400;
  --typography-header-default-regular-font-style: normal;
  --typography-header-default-regular-font-stretch: normal;
  --typography-header-default-regular-letter-spacing: 0;
  --typography-header-default-regular-line-height: 40px;
  --typography-header-default-regular-paragraph-indent: 0;
  --typography-header-default-regular-paragraph-spacing: 0;
  --typography-header-default-regular-text-case: none;
  --typography-header-default-semibold-font-size: 28px;
  --typography-header-default-semibold-text-decoration: none;
  --typography-header-default-semibold-font-family: Inter;
  --typography-header-default-semibold-font-weight: 600;
  --typography-header-default-semibold-font-style: normal;
  --typography-header-default-semibold-font-stretch: normal;
  --typography-header-default-semibold-letter-spacing: 0;
  --typography-header-default-semibold-line-height: 40px;
  --typography-header-default-semibold-paragraph-indent: 0;
  --typography-header-default-semibold-paragraph-spacing: 0;
  --typography-header-default-semibold-text-case: none;
  --typography-header-large-regular-font-size: 32px;
  --typography-header-large-regular-text-decoration: none;
  --typography-header-large-regular-font-family: Inter;
  --typography-header-large-regular-font-weight: 400;
  --typography-header-large-regular-font-style: normal;
  --typography-header-large-regular-font-stretch: normal;
  --typography-header-large-regular-letter-spacing: 0;
  --typography-header-large-regular-line-height: 48px;
  --typography-header-large-regular-paragraph-indent: 0;
  --typography-header-large-regular-paragraph-spacing: 0;
  --typography-header-large-regular-text-case: none;
  --typography-header-large-semibold-font-size: 32px;
  --typography-header-large-semibold-text-decoration: none;
  --typography-header-large-semibold-font-family: Inter;
  --typography-header-large-semibold-font-weight: 600;
  --typography-header-large-semibold-font-style: normal;
  --typography-header-large-semibold-font-stretch: normal;
  --typography-header-large-semibold-letter-spacing: 0;
  --typography-header-large-semibold-line-height: 48px;
  --typography-header-large-semibold-paragraph-indent: 0;
  --typography-header-large-semibold-paragraph-spacing: 0;
  --typography-header-large-semibold-text-case: none;
}
